@using TechJobs6Persistent.Models
@model Employer

@{
    ViewData["Title"]= "Employer Details";
    ViewData["Controller"]= "Employer";
}



<h1>Employer: @Model.Id</h1>

<div>
    <p>Name: @Model. Name</p>
    <p>Location: @Model.Location</p>
</div>
